<div class="container">
  <section class="news" id="news">

    <h2 class="title"></h2>
      <div class="news-content">
          <div class="row">
            <div class="colum left" >
                <img src="../../../assets/img/history1.jpg" routerLink="/history" alt="">
            </div>
            <div class="colum right" >
               <h2 class="title1" style="text-align:center;">News</h2>

                <div class="text"></div>
                  <div class="card mb-3" id="card1" (click)="openDialog()">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../../assets/img/news1.png"  class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Stufful</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card mb-3"  id="card1" (click)="openDialog2()">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../../assets/img/news2.PNG"  class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Pokemon GO</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card mb-3"  id="card1" (click)="openDialog3()">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../../../assets/img/news3.PNG" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Pokemon GO celebration
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
      </div>

  </section>
</div>

<app-episodes></app-episodes>


