

<h2 class="title" style="text-align:center;">Episodes</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col">
        <div class="card h-100" routerLink="/episode1">
          <img src="../../../assets/img/alola.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Alola</h5>
            <p class="card-text">Trailer.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/img/alola1.jpg" routerLink="/episode2" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Alola to New Adventure!</h5>
            <p>During their Alola vacation, Ash, Pikachu and Ash's mother encounter new Pokemon and deliver a Pokemon egg from Professor Oak to the Pokemon Scholl...</p>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card h-100" routerLink="/episode3">
          <img src="../../../assets/img/alola2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Guardian's Challenge</h5>
            <p>Ash and Pikachu start classes at the pokemon School with Professor Kukui ant their new classmates...</p>
          </div>
        </div>
      </div>
  </div>
</div><br><br>






