
<div class="container-flex" style="background:rgb(0, 0, 0)">



    <div class="container-flex">
      <ul class="nav justify-content-center" >
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top:10px">
          <li class="nav-item" role="presentation">
              <button class="nav-link " id="pills-home-tab" data-spy="scroll" data-bs-toggle="pill" data-bs-target="#pills-home"  type="button" role="tab" aria-controls="pills-home" aria-selected="true" style="color:white;"routerLink="/home"><strong>Home</strong></button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link " id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="true" style="color:white;" (click)="redirectTo()"><strong>Pokemon List</strong></button>
          </li>
        </ul>
      </ul>
    </div>

</div>  <br><br>



