<div class="container " style="text-align:center;">

  <img src="../../../../assets/img/history.jpg" > &nbsp; <img src="../../../../assets/img/history2.jpg" >

  <p>In 1997 Pokémon was turned into an animated TV series in Japan.
    It followed the story of a boy named Satoshi (named after Satoshi Tajiri himself), as he set off on a journey to try to become a Pokémon master with his companion, Pikachu.
    Due to Pokémon's success in Japan, the series was released overseas. Before the games were released in North America, the localization team attempted to change the Pokémon designs, fearing that the cute designs would not appeal to western gamers; however, the proposal was refused. On the other hand, Nintendo originally did not intend to allow for localized Pokémon names (due to having to register more trademarks), but were eventually convinced by the French translation team to do so. North America received Red and Blue Versions, as well as the anime, in September 1998 (the anime on the 7th and the games on the 28th), and soon everywhere else began to play the games on the Game Boy under the slogan Gotta Catch 'em All!. The Trading Card Game was also introduced to North America on January 9, 1999 by Wizards of the Coast. The Electric Tale of Pikachu became the first Pokémon manga to be translated to English when VIZ Media started publishing it on September 28, 1999.
    In 2019 Ash finally beat the Alola Pokémon League, to became a Pokémon Master in the Sun and Moon series..
  </p>
  <button class="btn btn-outline-primary" routerLink="/home">Home</button>
</div><br><br>

