<div class="container">
  <div class="col-md-2 offset-md-5" style="margin-top:8px">
    <nav class="navbar navbar-light" >
      <div class="container" >
        <a class="navbar-brand">
            <img src="../../../assets/img/pokebola.png" alt="" width="40" height="34" style="margin-left:5px;">&nbsp;&nbsp;<strong>Pokemons</strong></a>

      </div>
    </nav>
  </div>




  <div class="row">
    <div class="col-md-10 offset-md-1"  >
      <div class="row row-cols-1 row-cols-md-5 g-4" style="margin-top:1px">
           <input type="text" class="form-control" name="filterData" placeholder="search" [(ngModel)]="filterData">
        <div *ngFor = "let pokemon of data | filter:filterData" class="col">
          <div class="card h-100" >
            <img [src]="pokemon.img" class="card-img-top" alt="...">
            <div class="card-body" style="background:rgba(202, 188, 188, 0.268)">
              <h6  style="text-align: left" class="name">{{pokemon.name}}</h6>
            <div [ngSwitch]="pokemon.type" style="text-align: center">
              <div class="chip" *ngSwitchCase="'water'" style="background:rgba(0, 255, 251, 0.624)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'fire'" style="background:rgba(255, 166, 0, 0.734)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'bug'" style="background:rgba(32, 255, 20, 0.487)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'electric'" style="background:rgba(230, 242, 0, 0.727)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'normal'" style="background:rgba(119, 119, 116, 0.515)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'poison'" style="background:rgba(144, 13, 162, 0.494)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'grass'" style="background:rgba(10, 112, 5, 0.494)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'psychic'" style="background:rgba(209, 96, 191, 0.494)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchCase="'rock'" style="background:rgba(53, 50, 53, 0.494)" >{{pokemon.type}}</div>
              <div class="chip" *ngSwitchDefault="'rock'" style="background:rgba(255, 4, 4, 0.494)" >{{pokemon.type}}</div>
            </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:px">
                <button (click)="getCar(pokemon.position)" type="button" class="btn btn-outline-warning">info</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<br><br>
